.CountriesMainDiv {
  /* border: 2px solid violet; */
  padding-top: 2%;
}

.CountriesDiv {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  /* border: 2px solid blue; */
}

.CountryInput {
  background: #fad4d4;
  color: #f47c7c;
  border: none;
  padding: 16px;
  width: 30%;
}

.IndivCountriesDiv {
  padding-top: 5%;
  /* border: 1px solid red; */
}

.ContIndividualDiv {
  /* border: 2px solid red; */
  border-bottom: 4px solid rgb(230, 108, 108);
  /* border-right: 2px solid red; */
}
