.CountriesDiv{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.IndivCountriesDiv{
    padding-top: 5%;
    /* border: 1px solid red; */
}

.ContIndividualDiv{
    /* border: 2px solid red; */
   border-bottom: 2px solid red;
   border-right: 2px solid red;
}