.HomeMainDiv{
    width: 80%;
    margin: auto;
    /* border: 2px solid red; */
    padding-top: 2%;
}

.Flex{
    display: flex;
}

.Gap5{
    gap: 5%;
}

.Card1{
    border-bottom: 4px solid #0b0bbe;
    border-right: 4px solid #0b0bbe;
}

.Card2{
    border-bottom: 4px solid #028502 ;
    border-right: 4px solid #028502 ;
}
.Card3{
    /* border: 2px solid red; */
    border-bottom: 4px solid red;
    border-right: 4px solid red;
}

.Death{
    color: red !important;
}
.Recovered{
    color: #028502 !important;
}
.Active{
    color: #0b0bbe !important;
}